{% load staticfiles %}
<!DOCTYPE html>
<html lang="id">
<head>
	<title>Daftar Buku Bulan Ini</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %}">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
   <meta name="google-signin-client_id" content="783641538134-gvlmjui5si5rkm2vpjq9mfjf2jl6sr03.apps.googleusercontent.com">

	
	<style type="text/css">
		body{
			background: linear-gradient(to right, #1d4350, #a43931); 
		}
		#myInput{
			/*background-image: url('https://img.icons8.com/cotton/50/000000/search.png');*/
		  	background-position: right;
		  	background-repeat: no-repeat;
		  	width: 50%;
		  	font-size: 16px;
		  	padding: 12px 20px 12px 40px;
		  	border: 1px solid #ddd;
		  	margin-bottom: 12px;
		}
	</style>
	
</head>
<body>
	{% if user.is_authenticated %}
			<p class="display-4" style="color: white; font-size: 20px;"">Halo,</p>
             <p  id="nam" class="display-4" style="color: white; font-size: 20px;">{{ user.username }}</p>
              <p  id="em" class="display-4" style="color: white; font-size: 20px;">{{ user.email }}</p>
              <script type="text/javascript">
              	var nama = document.getElementById("nam").textContent;
				var email = document.getElementById("em").textContent;
              	
              </script>

             <a href="{% url 'logout' %}" onclick="signOut()">
				<button class="btn btn-light" style="text-decoration:none;" >Sign out </button>
			</a>
			<button onclick="alertCookie()">Check Counter</button>
			<script>
				function signOut() {
					var hapus = sessionStorage.setItem(nama, 0);
					alert("Anda berhasil logout")
					var auth2 = gapi.auth2.getAuthInstance();
					auth2.disconnect();
					auth2.signOut().then(function () {
						console.log('User signed out.');  

					});
				}
				function onLoad() {


		      		gapi.load('auth2', function() {
		        		gapi.auth2.init();
		        	
		      		});
						   
		    	}
			</script>
			<script type="text/javascript">
				
				var counter = sessionStorage.getItem(nama);
				postCounter();
				if (counter == null) {
				    counter = 0;
				}
				alert(email)
				alert(nama)
				window.onload = function(){
					document.getElementById("counter").innerHTML = counter;

				}

				function postCounter(){
					$.ajax({
						method: 'POST',
						url: '{% url "like" %}',
						data:{'like':counter,},
						success: function(like){
							console.log(like)
						},
						error: function(error){
							console.log(error)
						}

					})
				}
				
								

			</script>
			
	{% else %}
			<script>
				window.location.replace("/Lab9/");
			</script>
            
	{% endif %}
	
	
	
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	
	<header class="text-center">
		<h1 style="color: white;">BOOK'S RECOMMENDATION</h1>
		<div class="container1">
		  	<img src="{% static 'favorites.png' %}" alt="star" max-width="100px;" height="100px;">
		  	<div class="centered" id="counter"></div>
		</div>
		<h4 style="color: white;">Favorites</h4>
		
	</header>
	<div class="text-center" style="padding-top: 2%;">
		<input id="myInput" type="text" placeholder="Filter your books here..." value="">
		<img id="search" onclick="searchbook()" src='https://img.icons8.com/cotton/50/000000/search.png'>
		<br>
		<h4 style="color: white;">CLICK THE SEARCH ICON</h4>
	</div>

	<script>
		function searchbook(){
			var q = document.getElementById("myInput").value;
			console.log(q)
			$.ajax({
				url: "{% url 'data_books' %}" +"?q=" + q,
				datatype: 'json',
				success: function(result){
					var obj = jQuery.parseJSON(result)
					console.log(obj);
					renderHTML(obj);
				},
				errors: function(err) {
					console.log(err)
				}


			})

		}
	</script>
	<script>

		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myTable tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
	</script>



	<div style="padding-top: 2%; margin-left: 10%;margin-right: 10%;">
		<table id="demo" class="table table-striped table-light table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
			    	<th scope="col" style="text-align: center;">No</th>
			    	<th scope="col" style="text-align: center;">Cover</th>
			    	<th scope="col" style="text-align: center;">Title</th>
			     	<th scope="col" style="text-align: center;">Authors</th>
			     	<th scope="col" style="text-align: center;">Publisher</th>
			     	<th scope="col" style="text-align: center;">Published Date</th>
			      	<th scope="col" style="text-align: center;">Categories</th>
			      	<th scope="col" style="text-align: center;">Add to Favorites</th>
				</tr>
			</thead>
		</table>
		<script src="{% static 'lab9.js' %}"></script>
		
	</div>

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>