{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Adykarta's Portfolio </title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Da' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Basic' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anonymous+Pro" />
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
	<link rel="icon" type="image/png" href="SHORT.png" sizes="16x16" >
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

	<style type="text/css">
		.navbar {
		    -webkit-box-shadow: 0 8px 6px -6px #999;
		    -moz-box-shadow: 0 8px 6px -6px #999;
		    box-shadow: 0 8px 6px -6px #999;

		}
	</style>


</head>
<body>
	
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg sticky-top navbar-light w3-card-2 bg-white">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="#"><font size="6" face="Baloo Da" color="MidnightBlue">Adykarta</font></a>

		  <div class="collapse navbar-collapse" style="padding-left: 40%" id="navbarTogglerDemo03">
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'home' %}" style="padding-right: 50px"><font size="4" face="Basic" color="DimGrey">Home</font></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'profil' %}" style="padding-right: 50px"><font size="4" face="Basic" color="DimGrey">Profile</font></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'portfolio' %}" style="padding-right: 50px"><font size="4" face="Basic" color="DimGrey">Portfolio</font></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'jadwalSub' %}" style="padding-right: 50px"><font size="4" face="Basic" color="DimGrey">Schedule</font></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'guest' %}" style="padding-right: 50px"><font size="4" face="Basic" color="DimGrey">Guest Book</font></a>
		      </li>
		    </ul>
		   
		  </div>
	</nav>
	{% block content %}
	{% endblock %}
		<!-- Footer -->
	
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Site Office</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Jalan Maleo 1 JA 1 No 7 <br>Bintaro Sektor 9</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>For More Information</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Email: mkartadibrata@gmail.com</a></li>
						
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>For Support</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Phone: +6281317250076</a></li>
						
					</ul>
				</div>
			</div>
				
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u>Muhamad Istiady Kartadibrata</u></p>
					<p class="h6">&copy All right Reversed.</p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	
		





</body>