{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div style="height: 600px;width: auto; background-color: gainsboro">
	<table class="table">
		{% if list_jadwal %}
	                        <tr>
	                            <th>Nama Kegiatan</th>
	                            <th>Hari / Tanggal</th>
	                            <th>Waktu</th>
	                            <th>Tempat</th>
	                            <th>Kategori</th>
	                        </tr>
	                        {% for sched in list_jadwal %}
	                            <tr>
	                                <td>{{ sched.nama }}</td>
	                                <td>{{ sched.day }} / {{ sched.date }}</td> 
	                                <td>{{ sched.time }}</td>
	                                <td>{{ sched.tempat }}</td>
	         	                       <td>{{ sched.kategori }}</td>
	                            </tr>
	                        {% endfor %}
	                    {% else %}
	                    <div style="padding-top: 30px;">
	                        <p style="font-size: 80px; color: black;">No Events!</p> 
	                       </div>
	                    {% endif %}
	</table>
	<div class="form-group" style="text-align: center; padding-top: 90px; padding-bottom: 50px;">
			<a href="{% url 'hapusSemua' %}" role="button" class="btn btn-outline-dark btn-lg">Hapus Semua</a>
	</div>
</div>

 	<nav class="social">
          <ul style="padding-top: 100px;">

              <li><a href="https://www.facebook.com/muhamadistiady.k"><i class="fa fa-facebook"></i><b>Facebook</b></a></li>
              <li><a href="https://twitter.com/adykarta?lang=en"><i class="fa fa-twitter"></i><b>Twitter</b></a></li>
              <li><a href="https://www.linkedin.com/in/adykarta/"><i class="fa fa-linkedin"></i><b>LinkedIn</b></a></li>
              <li><a href="https://www.instagram.com/adykartaa/"><i class="fa fa-instagram"></i><b>Instagram</b></a></li>
          </ul>
      </nav>

{% endblock %}