{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

	
	<!--contact me-->
 
  	<div class="bg1" style="padding-bottom: 10%;">

  		<p style="color: DimGrey; font-family: Quicksand;font-size: 50px; padding-top: 80px;"><strong>GUEST BOOK</strong></p>
  		<div style="padding-left:50px;padding-right: 50px; padding-top: 40px;">
	  		<form>
	  		  <div class="row">
			    <div class="col">
			      <input type="text" class="form-control" placeholder="First name">
			    </div>
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Last name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="exampleFormControlInput1"></label>
			    <input type="date" class="form-control" id="exampleFormControlInput1">
			  </div>
			  <div class="form-group">
			    <label for="exampleFormControlInput1"></label>
			    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
			  </div>
			  <div class="form-group">
			    <label for="exampleFormControlInput1"></label>
			    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Subject...">
			  </div>

			  <div class="form-group">
			    <label for="exampleFormControlTextarea1"></label>
			    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter your message here...."></textarea>
			  </div>
			  <div style="text-align: center;padding-top: 30px;">
			 	 <button type="submit" class="btn btn-primary btn-lg">Submit</button>
			 	</div>
			  
			</form>
		</div>
  	</div>
  	<nav class="social">
          <ul style="padding-top: 100px;">

              <li><a href="https://www.facebook.com/muhamadistiady.k"><i class="fa fa-facebook"></i><b>Facebook</b></a></li>
              <li><a href="https://twitter.com/adykarta?lang=en"><i class="fa fa-twitter"></i><b>Twitter</b></a></li>
              <li><a href="https://www.linkedin.com/in/adykarta/"><i class="fa fa-linkedin"></i><b>LinkedIn</b></a></li>
              <li><a href="https://www.instagram.com/adykartaa/"><i class="fa fa-instagram"></i><b>Instagram</b></a></li>
          </ul>
      </nav>

	{% endblock %}
	

