{% extends "base.html" %}
{% load staticfiles %}	
{% block content %}



	<!--profile-->
	
		<div class="row bg1" style="padding-left: 2%; padding-top: 2%; padding-bottom: 1%">
		  <div class="col" style="background-color:white; height: 660px; width: 800px;">
		  	<img class="gambarady" src="{% static 'dykart.jpg' %}" alt="foto ady" width="250" height="340" style="padding-left:5px; max-width: 100%; height: auto;" >
		  	<h3></h3>
		    <h3 style="text-align: center; padding : 4px;">  <font size="5" face="Quicksand" color="DimGrey"><strong>About Me</strong></font><br><font size="2" face="Quicksand" color="DimGrey">Nama saya Muhamad Istiady Kartadibrata, akrab dengan panggilan Adykarta atau Ady. Saya lahir pada tanggal 9 Oktober 1998 di Tangerang. Saat ini saya sedang menempuh pendidikan di Fakultas Ilmu Komputer, Universitas Indonesia. Saya sangat tertarik dalam bidang Teknologi Informatika.Hobi saya adalah berolahraga. Saya merupakan pekerja keras yang senang dalam mempelajari hal-hal baru. </font></h3>
		   
		  </div>
		  <div class="col" style="background-color:Gainsboro;">
		  	<div class="flex-container">
		    	<div class="kotak">
		    		<p style="color: white; padding-top: 10px;font-family: quicksand; text-align: center;font-size: 30px;"><strong>Skills</strong></p>
		    		<img src="{% static 'Group2.png' %}" height="200px" class="center">
		    	</div>
		    	<h1 style="padding-top: 10px;"></h1>



		    	<div class="kotak2">
		    		<p style="color: DimGrey; padding-top: 10px;font-family: quicksand; text-align: center;font-size: 30px;"><strong>Experiences</strong></p>
		    		<ul>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">PJ Acara Runtime Error 3.0</li>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">Staff Acara CS League 2018</li>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">Staff Acara 25th CGT</li>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">Staff TnV Compfest X</li>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">Staff Acara OH Fasilkom 2018</li>
		    		</ul>
		    	</div>
		    </div>
		  </div>
		  <div class="col" style="background-color:Gainsboro;">
		    <div class="flex-container">
		    	<div class="kotak2">
		    		<p style="color: DimGrey; padding-top: 10px;font-family: quicksand; text-align: center;font-size: 30px;"><strong>Education</strong></p>
		    		<ul>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">2005-2011  SD An-nisaa</li>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">2011-2014  SMP Labschool   Kebayoran</li>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">2014-2017  SMA Labschool Kebayoran</li>
		    			<li style="padding-bottom:20px;color: DimGrey;font-family: quicksand; text-align: left;font-size: 16px;">Mei 2017 - Sekarang S1 Ilmu Komputer  Universitas Indonesia</li>
		    		
		    		</ul>
		    	</div>
		    	<h1 style="padding-top: 10px;"></h1>


		    	<div class="kotak">
		    		<p style="color: white; padding-top: 10px;font-family: quicksand; text-align: center;font-size: 30px;"><strong>Achievements</strong></p>
		    		<ul>
		    			<li style="padding-bottom:20px;color: white;font-family: quicksand; text-align: left;font-size: 12px;">Peraih nilai tertinggi Ujian Sekolah SMP Labschool Kebayoran angkatan 11</li>
		    			<li style="padding-bottom:20px;color: white;font-family: quicksand; text-align: left;font-size: 12px;">Pertukaran pelajar tingkat lokal ke SMPN 29 Jakarta</li>
		    			<li style="padding-bottom:20px;color: white;font-family: quicksand; text-align: left;font-size: 12px;">Pertukaran pelajar tingkat nasional ke Bangka Belitung</li>
		    			<li style="padding-bottom:20px;color: white;font-family: quicksand; text-align: left;font-size: 12px;">Pertukaran pelajar tingkat Internasional ke United Kingdom(UK)</li>
		    			<li style="padding-bottom:20px;color: white;font-family: quicksand; text-align: left;font-size: 12px;">Finalis lomba Business IT Case IT Today IPB 2018</li>
		    		</ul>
		    	</div>
		    </div>
		  </div>
		  
		</div>
					
		
		
	</div>
		<nav class="social">
          <ul style="padding-top: 100px;">

              <li><a href="https://www.facebook.com/muhamadistiady.k"><i class="fa fa-facebook"></i><b>Facebook</b></a></li>
              <li><a href="https://twitter.com/adykarta?lang=en"><i class="fa fa-twitter"></i><b>Twitter</b></a></li>
              <li><a href="https://www.linkedin.com/in/adykarta/"><i class="fa fa-linkedin"></i><b>LinkedIn</b></a></li>
              <li><a href="https://www.instagram.com/adykartaa/"><i class="fa fa-instagram"></i><b>Instagram</b></a></li>
          </ul>
      </nav>

	
	{% endblock %}