{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div style="background-color: gainsboro; height: 800px; width:auto; position: relative;">

  		<p style="color: DimGrey; font-family: Quicksand;font-size: 50px; padding-top: 10px;"><strong>ADD SCHEDULE</strong></p>
  			  		<div style="padding-top: 70px; position: relative;">
	  			<div class="col" style="text-align: center;">
			  		<form action="{% url 'bikinJadwal' %}" method="POST" class="form-group">
			  		<div class="row">
			  			<div class="col">

				  		  {% csrf_token %}
				  		  {{  form }}
				  		  	

				  		
				  		</div>

			  		</div>

					  <div class="form-group" style="text-align: center; padding-top: 90px;">
					  	<div class="col">
					  			<button type="submit" class="btn btn-outline-dark btn-lg"> Submit</button>
					  		</div>
					  	<div class="col" style="padding-top: 20px; padding-bottom: 200px;">
					  		<a href="{% url 'dataJadwal' %}" role="button" class="btn btn-outline-dark btn-lg">Daftar Kegiatan</a>
					  </div>
					</form>
				</div>

			</div>
	
  	</div>


{% endblock %}