{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'lab10.css' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


	<script src="{% static 'tema.js' %}"></script>
	
</head>

<body id="bg1" style="font-family: roboto !important;">
	<div class="pageLoad">
		<div class="inner">
			<div></div>
		 	<div></div> 
		  	<div></div>
		  	<div></div>
		</div> 
	</div>
	

	<script>
		setTimeout(function() {
		  $('.inner div').addClass('done'); 
		  
		  setTimeout(function() {
		    $('.inner div').addClass('page'); 
		    
		    setTimeout(function() {
		    	$('.pageLoad').addClass('off');
		    	$('#nav').removeClass('navi'); 
		      
		      $('body, html').addClass('on'); 
		      
		      
		  	}, 500)
		  }, 500)
		}, 1500)
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<nav class=" navi navbar navbar-expand-lg navbar-light bg-light sticky-top" id="nav">
		<a class="navbar-brand" href="#">
	    	<img src="https://image.flaticon.com/icons/svg/25/25645.svg" width="30" height="30" alt="">
	  	</a>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	  
	      <li class="nav-item">
	        <a class="nav-link" href="/Lab10/">Profile</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Subscribe
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="/Lab10/registrasi/">Registrasi</a>
	        </div>
	      </li>
	    </ul>
	  </div>
	</nav>

	{% block content %}
	{% endblock %}

	</body>
</html>