{% extends 'baselab10.html' %}
{% load static %}
{% block content %}
	<!--header-->
	<br>
	<br>


	

	<!--This is Profile Card Section-->

	<div class="card">
	    <div class="box">
	        <div class="img">
	            <img src="{% static 'foto3.jpg' %}">
	        </div>
	        <h2 style="padding-bottom: 4%;">Muhamad Istiady Kartadibrata<br><span id="button1" onclick="change()">Change Theme</span></h2>
	        
	        
	       
			<script src="{% static 'newaccordion.js' %}"></script>
	        <span>
	            <ul>
	                <li><a href="https://www.facebook.com/muhamadistiady.k"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	                <li><a href="https://twitter.com/adykarta?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	        
	                <li><a href="https://www.linkedin.com/in/adykarta/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	                <li><a href="https://www.instagram.com/adykartaa/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	            </ul>
	        </span>
	    </div>
	</div>

	<!--This is for accordion-->
	<div id="main" style="color: black; text-align: center;">
	  <div class="accordion">
	    <div class="accordion-title">
	      <h4 class="secondary">Aktivitas</h4>
	    </div>
	    <div class="accordion-text">
	      	<ul>
				<li>Ngerjain Tugas Pemrograman SDA</li>
				<li>Ngerjain Story PPW</li>
			</ul>
	    </div>
	  </div>
	  <div class="accordion">
	    <div class="accordion-title">
	      <h4 class="secondary">Pengalaman Organisasi & Kepanitiaan</h4>
	    </div>
	    <div class="accordion-text">
	      		<ul>
					<li>PJ Acara Runtime Error 3.0</li>
					<li>Staff Acara CSLeague</li>
					<li>Staff Acara 25th CGT</li>
					<li>Staff TnV COMPFEST X</li>
					<li>Staff Acara OH Fasilkom 2018</li>
				</ul>
	    </div>
	  </div>
	  <div class="accordion">
	    <div class="accordion-title">
	      <h4 class="secondary">Prestasi</h4>
	    </div>
	    <div class="accordion-text">
	      <ul>
				<li>Finalis Business IT Case IT TODAY 2018</li>
			</ul>
	    </div>
	  </div>
	</div>
	{% endblock %}
