<!DOCTYPE html>
<html>
<head>
	<title>Registrasi</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<style type="text/css">
		.form-control{
			background-color: transparent !important;
			color: white !important;
		}
	</style>
</head>
<body style="  background-image: url('https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); height: 100%; font-family: roboto !important">

<!--Navbar-->

<nav class=" navi navbar navbar-expand-lg navbar-light bg-light sticky-top" id="nav">
    <a class="navbar-brand" href="#">
    <img src="https://image.flaticon.com/icons/svg/25/25645.svg" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Lab10/">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscribe
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/Lab10/registrasi/">Registrasi</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Registration form -->
<div class="container">
  	<div class="row">
   		<div class="col">
      	
    	</div>
    <div class="col-8">
    	<div  class="card" style="margin:auto; margin-top: 5%; padding: 5%; background-color: rgba(0, 0, 0, 0.75);  border-radius: 25px;">
			<h1 style="text-align: center; color: white; letter-spacing: 2px;"> Join Me!</h1>
			<br>
			<form method="POST" id="post-form" onsubmit="required()" style="color: white;" >
				{% csrf_token %}
				<div id="the_post">
					<div class="form-group row">
				        <label for="name" class="col-sm-2 col-form-label">Name</label>
				        <div class="col-sm-10">
				           {{form.nama}}
				        </div>
				    </div>

				    <div class="form-group row">
				        <label for="email" class="col-sm-2 col-form-label">Email</label>
				        <div class="col-sm-10">
				            {{form.email}}
				        </div>
				    </div>

				    <div class="form-group row">
				        <label for="password" class="col-sm-2 col-form-label">Password</label>
				        <div class="col-sm-10">
				           	{{form.password}}
				        </div>
				    </div>
				    
				    
				    <div class="form-group row">
				        <div class="col" style="margin: 5%;">
				            <button id="button" type="submit" class="btn btn-secondary btn-lg btn-block" style="color: white; letter-spacing: 2px;">REGISTER</button>
				        </div>
				    </div>
				</div>
			</form>
		</div>
		<div id="listsub" class="card" style="margin:auto; margin-top: 5%; padding: 5%; background-color: rgba(0, 0, 0, 0.75); color: white !important;">
			<h3 style="text-align: center;">Subscriber List</h3>

			
		</div>
      
    </div>
    	<div class="col">
     	 
    	</div>
  	</div>
</div>

<!-- This is function for Showing list of subscriber and unsubscribe -->

<script type="text/javascript">
	var container = document.getElementById("listsub");
	$.ajax({
		url:"{% url 'subscriber' %}",
		dataType: 'json',
		success: function(result){
			
			console.log(result);
			ambildata(result);


		}

	})

	function ambildata(data){
		htmlString = "<ul>";
		console.log(data.length)
		for (i=0;i<data.length;i++){
			htmlString+="<li>"+ " "+ "<button class='btn btn-secondary' onclick='hapusdata("+data[i].id + ")'>" + "Unsubscribe" + "</button>" + " "+ data[i].nama+" || " + data[i].email +  "</li>" +"<br>" 

		}
		container.insertAdjacentHTML('beforeend', htmlString+"</ul>")
	}

	function hapusdata(id){
		console.log(id)
		$.ajax({
			method:"POST",
			url: "{% url 'unsub' %}",
			data:{'id':id},
			success:function(){
				alert("Berhasil Unsubscribe")
				window.location.reload();
			}

		})
	}
</script>






<!--Validation Name-->

<script type="text/javascript">
	var emailacc = false
	
	var email = document.getElementById('post-text2');
	var timeout = null;

	email.onkeyup = function(e){
		clearTimeout(timeout);
		timeout = setTimeout(function(){
			console.log('Input text:', email.value);
			$.ajax({
				method: "POST",
				url: "{% url 'validate_email' %}",
				data:{
					'email': email.value
				},
				dataType: 'json',
				success: function(data){
					emailacc = false;
					console.log(data)
					if(data.is_taken){
						alert("Email sudah terdaftar, silahkan mendaftar dengan Email lain");
						email.value ="";
					}
					else{
						if(data.is_email_valid == true){
							emailacc = true;
							alert("Email Tersedia!");
							console.log("emailacc" + emailacc);

						}
					
					}
				}


			})


		}, 1000);
	}
</script>

<!--Regist Function-->

<script type="text/javascript">

	$(document).ready(function (){
    		validate();
    		$('#post-text1, #post-text2, #post-text3').change(validate);
	});

	function validate(){
		console.log(emailacc)
		if(emailacc==true && $('#post-text2').val().length >0 && $('#post-text1').val().length > 0 && $('#post-text3').val().length >0 ){
			document.getElementById('button').disabled = false;

		}
		else{
			document.getElementById('button').disabled = true;
		}
	}

	
	function required(){
		event.preventDefault();
		console.log("form submitted!")  // sanity check
		regist();
	}
	
	function regist(){
		console.log("regist func is working")
		
		$.ajax({
			type:'POST',
			url:"{% url 'subscriber' %}",
			data:{ 
				nama: $('#post-text1').val(),
				email: $('#post-text2').val(),
				password: $('#post-text3').val(),
			},
			success: function(subs){
				console.log(subs)
				alert("telah mendaftar jadi subscriber")
				window.location.reload();
			},
			error: function(error){
				console.log(error)
			}

		})
		
	}
</script>

</body>
</html>

