
.backg{	
		width: 100%;	
		height:665px;	
    background-image:url("city.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
		background-size: cover;
		position: relative;
}

.backg2{
    max-width: 100%;  
    height:auto; 
    background-image:url("bluecit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 5%;

}
.backg3{
  width: 100%;  
    height:300px; 
    background-image:url("wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.line-1{
    position: relative;
    top: 20%;  
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
   
    overflow: hidden;
 
}


.social {
    position: fixed;
    top: 20px;
    right:0px;
}

.social ul {
  padding: 0px;
  -webkit-transform: translate(270px, 0);
  -moz-transform: translate(270px, 0);
  -ms-transform: translate(270px, 0);
  -o-transform: translate(270px, 0);
  transform: translate(270px, 0);
}

.social ul li {
    display: block;
    margin: 3px;
    background: rgba(171, 219, 209, 0.36);
    width: 300px;
    text-align: left;
    padding: 5px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
  -webkit-transform: translate(-110px, 0);
  -moz-transform: translate(-110px, 0);
  -ms-transform: translate(-110px, 0);
  -o-transform: translate(-110px, 0);
  transform: translate(-110px, 0);
  background: rgba(173, 178, 177, 0.4);
}

.social ul li:hover a {
  color: #000;
}

.social ul li:hover i {
  color: #fff;
  background: #16a085;
}

.social ul li i {
  margin-right: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px; 
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

}

.kotak{
	background-color: MidnightBlue;
	height: 300px;
	width: 400px;
}
.kotak2{
	background-color: white;
	height: 300px;
	width: 400px;
}
.bg1{
		background-color: Gainsboro;	

  		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg2{
		background-color: MidnightBlue;
  		background-repeat: no-repeat;
		background-size: cover;
		position: relative;


	}
.bg3{
		background-color: white;
		height:100%;
  		background-repeat: no-repeat;
		background-size: cover;
		position: relative;

	}

p{
color: white;
font-family: Quicksand;
text-align: center;
padding-top: 160px;
	
}
.gambarady{
	padding-top: 20px;
	border-radius: 100%;
	
}
.trashee{

	border: 1px solid white ;
	border-radius: 25px;
    padding: 2px;
    width: 400px;
    height: 400px;

}




.column {
    float: center;
    width: 350px;
    height: 660px;
    box-sizing: border-box;
    margin:50px;
}
.columna{
	float: center;
    width: 450px;
    height: 200px;
    box-sizing: border-box;

}

.row:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.flex-container {
 padding:0;
 margin:0;
 list-style: none;

 display:-webkit-box;
 display:-moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;

 -webkit-flex-flow:row wrap;

}


.flex item{
  background: white;
  padding: 5px;
  width:200px;
  height:150px;
  margin-top:10px;

  line-height: 150px;
  color:white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.centera{
	text-align: center;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background-image: url("wall.jpg") !important;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

