
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Statusku </title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color: LightGray; font-family: helvetica;">
	<div class="container-fluid">
		<div class="row">
		  <div class="col-9">
		  	<h1> Hello, Apa Kabar? </h1>
		  </div>
		  <div class="col-4">
		  	<form id="form" method="POST" action="" >
		  		{% csrf_token %}
		  		{{ form }}
		  		<br>
		  		<button type="submit" class="btn btn-outline-dark btn-lg" name="isi_status"> Tambah Status </button>
		  		<a href="hapusStatus/" role="button" class="btn btn-outline-dark btn-lg" name="delete_status">Hapus Status</a>
		  	</form>
		  </div>
		  <div class="col-5">

		  	<div class="card" style="width: 18rem;">
			  <div class="card-header bg-dark">
			    <p style="color: white;"><Strong>Status Aku</Strong></p>
			  </div>
			  {% for status in stat %}
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">
			    	<p> {{status.Statusku}} {{status.current_time}}</p>
			    </li>   
			  </ul>
			  {% endfor %}  
			</div>
			

		  </div>
		</div>

	</div>
</body>
</html>