{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Profile </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" type="text/css" href="{% static 'styleku.css' %}" />
	<script src="{% static 'tema.js' %}"></script>
	
	<script src="{% static 'typewriter.js' %}"></script>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body id="bg1">
	<div class="pageLoad">
		<div class="inner">
			<div></div>
		 	<div></div> 
		  	<div></div>
		  	<div></div>
		</div> 
	</div>
	

	<script src="{% static 'pageloader.js' %}"></script>
	
	
	<div class="text-center" style="padding-bottom: 5%;">
		<h1 style="font-size: 6vw;" class="typewrite" data-period="2000" data-type='["PROFILE..."]'>
		    <span class="wrap"></span>
		</h1>
	</div>
	
		<div class="card test" style="width: 30rem;">
		  	<div class="w3-content w3-section" style="max-width:500px">
			  <img class="mySlides card-img-top" src="{% static 'foto2.jpg' %}" style="max-width: 500px; max-height: 500px;">
			  <img class="mySlides card-img-top" src="{% static 'foto3.jpg' %}" style="max-width: 500px; max-height: 500px;">
			  <img class="mySlides card-img-top" src="{% static 'foto4.jpg' %}" style="max-width: 500px; max-height: 500px;">

			</div>

			<div class="text-center" style="padding-top: 3%;">
				<button onclick="change()" id="button1" type="button" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);" class="btn btn-light btn-sm">Change Theme</button>
			</div>

		  <div class="card-body">
		  		<section id="content">

		<div id="accordion" class="accordion-container">
				<article class="content-entry">
						<h4 class="article-title"><i></i>Aktivitas</h4>
						<div class="accordion-content" style="color: black;">
							<ul>
							  <li>Ngerjain Tugas Pemrograman SDA</li>
							  <li>Ngerjain Story PPW</li>
							</ul>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i>Pengalaman Organisasi/Kepanitiaan</h4>
						<div class="accordion-content" style="color: black;">
							<ul>
							  <li>PJ Acara Runtime Error 3.0</li>
							  <li>Staff Acara CSLeague</li>
							  <li>Staff Acara 25th CGT</li>
							  <li>Staff TnV COMPFEST X</li>
							  <li>Staff Acara OH Fasilkom 2018</li>
							</ul>
							
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i>Prestasi</h4>
						<div class="accordion-content" style="color: black;">
							<ul>
							  <li>Finalis Business IT Case IT TODAY 2018</li>
							</ul>
						</div>
						<!--/.accordion-content-->
				</article>

				

		</div>
		<!--/#accordion-->

	

</section>
		  	 
		   
	
	
		
		<script src="{% static 'carousel.js' %}"></script>
	
		


	


	 <script src="{% static 'accordion.js' %}"></script>
</body>
</html>

